<div>
  <a href="/rock">Play Rock</a>
</div>

<div>
  <a href="/paper">Play Paper</a>
</div>

<div>
  <a href="/scissors">Play Scissors</a>
</div>


<h2>We played <%= @user %>!</h2>

<h2>They played <%= @computer %>!</h2>

<h2> <%= @result %></h2>


<a href="/">Rules</a>
